<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <style>
    .container{
        width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>
    <body>
        <div class="container">
            <button>Go To Manage Employee</button>
        </div>
    </body>

    <script>
        document.querySelector('button').onclick = () => {
            location = '/api/employee';
        }
    </script>
</html>